.details-container {
    height: max-content;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.screenshot-container {
    margin-top: 30px;
    display: flex;
    box-shadow: 0 0 10px 10px black;
    background-color: black;
    border-radius: 15px;
}

.screenshots {
    width: 150px;
    border: solid 2px black;
    border-radius: 20px;
}

.screenshots:hover {
    border: solid white 2px ;
}

.current-screenshot-image {
    width: 1000px;
    box-shadow: 0 0 10px 10px black;
}

.current-screenshot-container {
    margin: 50px;
    height: fit-content;
    
}

.background1-container {
    height: 700px;
    z-index: -1;
    position: absolute;
    left: 0;
    /* top: 30%; */
    width: 100%;
    box-shadow: 0 0 50px 50px black inset, 0 0 50px 50px black;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.background2-container {
    height: 700px;
    z-index: -1;
    position: absolute;
    bottom: 50px;
    width: 100%;
    box-shadow: 0 0 50px 50px black inset, 0 0 50px 50px black;
    background-size: 100%;
    background-repeat: no-repeat;
}
.detailed-infos {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    color: black;
}

.description {
    width: 900px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

.back-to-results {
    background-color: black;
    color: white;
    border: solid 2px white;
    position: absolute;
    left: 0;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 20%;
    width: 80px;
    height: 80px;
  }

  .lds-ripple p {
    position: relative;
    bottom: 100px;
    
  }

  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  