*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}
.content-container {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cards {
    position: absolute;
    left: 0;
    top: 400px;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(20, 300px);
    pointer-events: none;
}

.game-card {
    width: 320px;  
    overflow: hidden; 
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
}

.game-card:hover {
    box-shadow: 0 0 5px 5px rgb(185, 185, 185);
    transform: scale(1.1);
}

.game-image {
    height: 200px;
    width: 320px
}

.game-title {
    pointer-events: all;
}
