

.searchbar-container {
    display: flex;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 50px;
    font-family: 'Saira', sans-serif;
}

#nameSearchInput {
    width: 60%;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Saira';
}

.submit-search {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Saira';
}