.navbar-header {
    font-size: 70px;
    color: white;
    margin: 25px;
    text-decoration: none;
}

.navbar-header:hover {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

link,a {
    text-decoration: none;
}

.navbar-container {
    top: 0px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

}


.navbar-container p{
    font-family: 'Rubik Glitch', cursive;
}
.navbar-menu-link {
    font-size: 25px;
    margin: 10px;
}

.navbar-menu-link:hover {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.navbar-menu {
    margin: 25px;
}